@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300);

$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import "buttons.scss";


/* Space out content a bit */
html,body{
    float: left; 
    width: 100%; 
    height: 100%;
    padding: 0; 
    margin: 0; 
}
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', helvetica neue, sans-serif;
}

.container.main-view{
    margin: auto; 
    float: none;
    display: none;
}
// 
.nunc-hello, 
.nunc-communication{
    height: 100%; 
    width: 100%; 
    margin: auto; 
}

.nunc-hello{
    position: absolute; 
    z-index: 3;
    left: 0;
    top: 0;

    &:before{
        content:'';
        display: block;
        position: absolute; 
        height: 100%; 
        width: 100%; 
        z-index: 1;
        background: url(http://38.media.tumblr.com/facc96f9c1a78b983bf1624f5f0e70d1/tumblr_n7qhtcBPvQ1sfie3io1_1280.jpg) no-repeat bottom center;
        background-size: cover;
    }

    .jumbotron{
        position: absolute;
        z-index: 3;
        bottom: 0;
        width: 100%;
        background: #7AB1BB;
        box-shadow: 0 -20px 0 0 rgba(#7AB1BB, .2),
        0 -16px 0 0 rgba(#7AB1BB, .4), 
        0 -12px 0 0 rgba(#7AB1BB, .6),
        0 -8px 0 0 rgba(#7AB1BB, .8), 
        0 -6px 0 0 rgba(#7AB1BB, 1);
        color: #F5F1E7;
        margin: 0;

        h1{
            font-weight: 800;
        }


        .nunc-start{
            position: absolute; 
            right: 0; 
            margin: -10em 3em;

            .btn{
                font-size: 3em;
            }
        }
    }
}



.nunc-communication{
    display: none;
}